<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto MVC</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename= 'style.css')}}" />
</head>
<body>
    <header>
        <nav>
            ,<ul>
                <li><a href="/">Home</a></li>
                <li><a href="/combustivel">Combustível</a></li>
                <li><a href="/joias">Joias</a></li>
                <li><a href="/educacao">Educação</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>2026 - Sistema MVC | Desenvolvido por @kau.tech</p>
    </footer>
</body>
</html>